.financial-event-icon {
  // tailwind classes
  //    class="basis-1/6 flex items-center justify-center rounded-full bg-purple-500 h-full"
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
  border-width: 2px;
}
