<!-- Search -->
<app-search></app-search>

<!-- Sub nav -->
<div
  class="bg-gray-800 rounded-md w-full h-10 mt-4 flex items-center justify-center"
>
  <!-- TODO: Change style on select -->
  <div
    class="bg-gradient-to-r from-yellow-600 to-yellow-500 rounded-md h-full basis-1/3 text-black flex items-center justify-center"
  >
    <a routerLink="/financial-events" routerLinkActive="activebutton"
      >History</a
    >
  </div>
  <div class="h-full basis-1/3 text-gray-400 flex items-center justify-center">
    <a href="#">Charts</a>
  </div>
  <div class="h-full basis-1/3 text-gray-400 flex items-center justify-center">
    <a href="#">Budget</a>
  </div>
</div>

<!-- Summary -->
<app-summary></app-summary>

<!-- If isNewFinancialEvent, then display form for POST. Else form for PUT/DELETE
<app-financial-event-form
  [isNewFinancialEvent]="true"
></app-financial-event-form> -->

<!-- Financial event history -->
<app-financial-events></app-financial-events>
